<div>
  <div><%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %></div>
  <h1><%= @portfolio_item.title %></h1>
  <div>
    <em><%= @portfolio_item.title %></em>
    <p><%= @portfolio_item.body %></p>
  </div>

  <h2>Technologies used:</h2>
  <% @portfolio_item.technologies.each do |t| %>
    <p><%= t.name %></p>
  <% end %>
</div>
